/* 0 -- P I N K   R U B Y  */
@font-face {
  font-family: 'AlegreyaSans';
  src: url(../fonts/AlegreyaSans-ExtraBold.otf); }
@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-Regular.ttf); }
body {
  font-family: 'Open Sans', arial, sans-serif, helvetica; }

a {
  text-decoration: none !important;
  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms; }

h6 {
  font-size: 0.7em; }

h5 {
  font-size: 0.9em; }

h3 {
  font-size: 1.1em; }

h2 {
  font-size: 1.3em; }

h1 {
  font-size: 1.5em; }

/* ------------------------------------------------------------------------ */
/* SOCIAL ICONS
/* ------------------------------------------------------------------------ */
.social-icon {
  display: inline-block;
  margin: 0 5px 5px 0;
  background-color: #f8f8f8 !important;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  overflow: hidden;
  width: 40px;
  height: 40px; }

.social-icon a {
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  background-position: 0px 0px;
  background-repeat: no-repeat; }

.social-icon a:hover {
  background-color: #444444;
  background-position: 0px -40px !important; }

.social-icons ul {
  list-style: none;
  margin: 0 0 -1px 0;
  float: right; }

.social-icons ul li {
  display: block;
  float: left;
  margin: 0;
  padding: 0; }

.social-icons ul li a {
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  display: block;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  background-position: 0px 0px;
  background-repeat: no-repeat; }

.social-icons a:hover {
  background-color: #cccccc;
  background-position: 0px -40px !important;
  opacity: 1; }

.social-email a {
  background: url(../images/social-icons/email.png) no-repeat 0 0; }

.social-email a:hover {
  background-color: #666666; }

.social-aim a {
  background: url(../images/social-icons/aim.png) no-repeat 0 0; }

.social-aim a:hover {
  background-color: #e95a00; }

.social-apple a {
  background: url(../images/social-icons/apple.png) no-repeat 0 0; }

.social-apple a:hover {
  background-color: #606060; }

.social-behance a {
  background: url(../images/social-icons/behance.png) no-repeat 0 0; }

.social-behance a:hover {
  background-color: #18a3fe; }

.social-blogger a {
  background: url(../images/social-icons/blogger.png) no-repeat 0 0; }

.social-blogger a:hover {
  background-color: #fb913f; }

.social-cargo a {
  background: url(../images/social-icons/cargo.png) no-repeat 0 0; }

.social-cargo a:hover {
  background-color: #00c462; }

.social-delicious a {
  background: url(../images/social-icons/delicious.png) no-repeat 0 0; }

.social-delicious a:hover {
  background-color: #3274d1; }

.social-deviantart a {
  background: url(../images/social-icons/deviantart.png) no-repeat 0 0; }

.social-deviantart a:hover {
  background-color: #d0de21; }

.social-digg a {
  background: url(../images/social-icons/digg.png) no-repeat 0 0; }

.social-digg a:hover {
  background-color: #2882c6; }

.social-dopplr a {
  background: url(../images/social-icons/dopplr.png) no-repeat 0 0; }

.social-dopplr a:hover {
  background-color: #99cc66; }

.social-dribbble a {
  background: url(../images/social-icons/dribbble.png) no-repeat 0 0; }

.social-dribbble a:hover {
  background-color: #ef5b92; }

.social-ember a {
  background: url(../images/social-icons/ember.png) no-repeat 0 0; }

.social-ember a:hover {
  background-color: #fb9d00; }

.social-evernote a {
  background: url(../images/social-icons/evernote.png) no-repeat 0 0; }

.social-evernote a:hover {
  background-color: #77ba2f; }

.social-facebook a {
  background: url(../images/social-icons/facebook.png) no-repeat 0 0; }

.social-facebook a:hover {
  background-color: #3b5998; }

.social-flickr a {
  background: url(../images/social-icons/flickr.png) no-repeat 0 0; }

.social-flickr a:hover {
  background-color: #f1628b; }

.social-forrst a {
  background: url(../images/social-icons/forrst.png) no-repeat 0 0; }

.social-forrst a:hover {
  background-color: #5b9a68; }

.social-github a {
  background: url(../images/social-icons/github.png) no-repeat 0 0; }

.social-github a:hover {
  background-color: #7292a2; }

.social-google a {
  background: url(../images/social-icons/google.png) no-repeat 0 0; }

.social-google a:hover {
  background-color: #dd4b39; }

.social-googleplus a {
  background: url(../images/social-icons/googleplus.png) no-repeat 0 0; }

.social-googleplus a:hover {
  background-color: #d94a39; }

.social-gowalla a {
  background: url(../images/social-icons/gowalla.png) no-repeat 0 0; }

.social-gowalla a:hover {
  background-color: #ff920d; }

.social-grooveshark a {
  background: url(../images/social-icons/grooveshark.png) no-repeat 0 0; }

.social-grooveshark a:hover {
  background-color: #f88e00; }

.social-html5 a {
  background: url(../images/social-icons/html5.png) no-repeat 0 0; }

.social-html5 a:hover {
  background-color: #f3642c; }

.social-icloud a {
  background: url(../images/social-icons/icloud.png) no-repeat 0 0; }

.social-icloud a:hover {
  background-color: #fb913f; }

.social-lastfm a {
  background: url(../images/social-icons/lastfm.png) no-repeat 0 0; }

.social-lastfm a:hover {
  background-color: #d21309; }

.social-linkedin a {
  background: url(../images/social-icons/linkedin.png) no-repeat 0 0; }

.social-linkedin a:hover {
  background-color: #71b2d0; }

.social-metacafe a {
  background: url(../images/social-icons/metacafe.png) no-repeat 0 0; }

.social-metacafe a:hover {
  background-color: #ef4035; }

.social-mixx a {
  background: url(../images/social-icons/mixx.png) no-repeat 0 0; }

.social-mixx a:hover {
  background-color: #d80330; }

.social-myspace a {
  background: url(../images/social-icons/myspace.png) no-repeat 0 0; }

.social-myspace a:hover {
  background-color: #003398; }

.social-netvibes a {
  background: url(../images/social-icons/netvibes.png) no-repeat 0 0; }

.social-netvibes a:hover {
  background-color: #629e61; }

.social-newsvine a {
  background: url(../images/social-icons/newsvine.png) no-repeat 0 0; }

.social-newsvine a:hover {
  background-color: #5b965a; }

.social-orkut a {
  background: url(../images/social-icons/orkut.png) no-repeat 0 0; }

.social-orkut a:hover {
  background-color: #ed2590; }

.social-paypal a {
  background: url(../images/social-icons/paypal.png) no-repeat 0 0; }

.social-paypal a:hover {
  background-color: #32689a; }

.social-picasa a {
  background: url(../images/social-icons/picasa.png) no-repeat 0 0; }

.social-picasa a:hover {
  background-color: #444444; }

.social-pinterest a {
  background: url(../images/social-icons/pinterest.png) no-repeat 0 0; }

.social-pinterest a:hover {
  background-color: #cb2027; }

.social-plurk a {
  background: url(../images/social-icons/plurk.png) no-repeat 0 0; }

.social-plurk a:hover {
  background-color: #f35b36; }

.social-posterous a {
  background: url(../images/social-icons/posterous.png) no-repeat 0 0; }

.social-posterous a:hover {
  background-color: #f9d560; }

.social-reddit a {
  background: url(../images/social-icons/reddit.png) no-repeat 0 0; }

.social-reddit a:hover {
  background-color: #cde2f9; }

.social-rss a {
  background: url(../images/social-icons/rss.png) no-repeat 0 0; }

.social-rss a:hover {
  background-color: #fe9900; }

.social-skype a {
  background: url(../images/social-icons/skype.png) no-repeat 0 0; }

.social-skype a:hover {
  background-color: #18b7f1; }

.social-stumbleupon a {
  background: url(../images/social-icons/stumbleupon.png) no-repeat 0 0; }

.social-stumbleupon a:hover {
  background-color: #eb4924; }

.social-technorati a {
  background: url(../images/social-icons/technorati.png) no-repeat 0 0; }

.social-technorati a:hover {
  background-color: #7ac84f; }

.social-tumblr a {
  background: url(../images/social-icons/tumblr.png) no-repeat 0 0; }

.social-tumblr a:hover {
  background-color: #3a5976; }

.social-twitter a {
  background: url(../images/social-icons/twitter.png) no-repeat 0 0; }

.social-twitter a:hover {
  background-color: #48c4d2; }

.social-vimeo a {
  background: url(../images/social-icons/vimeo.png) no-repeat 0 0; }

.social-vimeo a:hover {
  background-color: #62a0ad; }

.social-wordpress a {
  background: url(../images/social-icons/wordpress.png) no-repeat 0 0; }

.social-wordpress a:hover {
  background-color: #464646; }

.social-yahoo a {
  background: url(../images/social-icons/yahoo.png) no-repeat 0 0; }

.social-yahoo a:hover {
  background-color: #ab64bc; }

.social-yelp a {
  background: url(../images/social-icons/yelp.png) no-repeat 0 0; }

.social-yelp a:hover {
  background-color: #c41200; }

.social-youtube a {
  background: url(../images/social-icons/youtube.png) no-repeat 0 0; }

.social-youtube a:hover {
  background-color: #f45750; }

.social-zerply a {
  background: url(../images/social-icons/zerply.png) no-repeat 0 0; }

.social-zerply a:hover {
  background-color: #8db259; }

.social-zootool a {
  background: url(../images/social-icons/zootool.png) no-repeat 0 0; }

.social-zootool a:hover {
  background-color: #262626; }

/* LOGO */
#logo {
  text-indent: -999%;
  display: block;
  height: 150px;
  width: 150px;
  background: url(../images/150x150.gif); }

/* LABEL, BADGE */
.label-custom, .badge-custom {
  background-color: #df3d82; }

/* CLEAR BOTH */
.clear-both {
  clear: both; }

/* CUSTOM LIST STYLE IMAGE */
ul.custom-pagination a {
  color: #df3d82; }
ul.custom-pagination li.active a {
  background-color: #df3d82;
  border-color: #df3d82; }
  ul.custom-pagination li.active a:hover {
    background-color: #bd4a7b !important;
    border-color: #bd4a7b !important; }

/* FLOAT RIGHT */
@media (min-width: 768px) {
  .float-right-sm {
    float: right; } }

/* CUSTOM-FORM */
.custom-form input, .custom-form textarea, .custom-form select {
  padding: 5px;
  box-shadow: none; }
.custom-form select {
  margin-bottom: 30px; }
.custom-form.pre-validation .form-group {
  position: relative;
  margin-bottom: 30px; }
.custom-form.pre-validation label.error {
  position: absolute;
  bottom: -30px;
  left: 0; }
.custom-form label {
  color: #555; }
  .custom-form label .form-require {
    color: #df3d82;
    font-weight: normal; }
.custom-form input[type=number]::-webkit-inner-spin-button, .custom-form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* BUTTON-GROUP */
.btn-group {
  margin-bottom: 20px; }
  .btn-group .custom-btn {
    margin: 5px 0; }
    .btn-group .custom-btn:first-child {
      margin-right: 0 !important; }
    .btn-group .custom-btn:last-child {
      margin-left: 0 !important; }
  .btn-group.btn-group-right .custom-btn {
    float: right; }
  .btn-group.btn-group-left .custom-btn {
    float: left; }

/* COLLAPSE LIST */
ul.custom-collapse-list a {
  cursor: pointer; }
ul.custom-collapse-list ul.level-2 {
  display: none;
  padding-left: 23px; }

/* FILTER OVERLAY */
.filter-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  -o-opacity: 0.4;
  -ms-opacity: 0.4;
  top: 0;
  left: 0;
  z-index: 0; }

/* PRODUCT GRID */
@media (min-width: 768px) {
  .body-wrapper {
    padding: 0; } }
.body-wrapper .body-section {
  background: #f5f5f5;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.175);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.175);
  position: relative;
  border-radius: 4px;
  padding: 50px 15px 30px 15px;
  margin-bottom: 15px;
  border-top: 5px solid #bd4a7b; }
  .body-wrapper .body-section h1.body-heading {
    background-color: #df3d82;
    padding: 5px 20px 10px 20px;
    display: inline-block;
    position: absolute;
    top: -25px;
    color: #fff;
    border-radius: 0 0 4px 4px;
    font-size: 1.2em;
    border-top: 5px solid #bd4a7b; }
    .body-wrapper .body-section h1.body-heading a {
      color: #fff; }
  .body-wrapper .body-section h2 {
    color: #777;
    margin-top: 0;
    margin-bottom: 15px;
    text-transform: uppercase; }
  .body-wrapper .body-section.blog {
    padding-bottom: 20px; }
.body-wrapper .products-grid .item {
  margin-bottom: 15px; }
  .body-wrapper .products-grid .item:hover .content a {
    color: #df3d82; }
  .body-wrapper .products-grid .item .content {
    -webkit-transform: translateZ(0) scale(1, 1);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center !important;
    height: 45px; }
    .body-wrapper .products-grid .item .content a {
      color: #777;
      font-size: 1.1em; }
    @media (max-width: 767px) {
      .body-wrapper .products-grid .item .content {
        margin: 0;
        background-color: #bbb;
        padding: 15px 10px;
        height: 70px; }
        .body-wrapper .products-grid .item .content a {
          color: #fff; } }
.body-wrapper .product-detail h2 {
  color: #777;
  margin-top: 0;
  margin-bottom: 15px;
  text-transform: none; }
.body-wrapper .product-detail .nav-tabs a {
  color: #777; }
.body-wrapper .product-detail .nav-tabs li.active a {
  background-color: #fafafa;
  color: #df3d82; }
.body-wrapper .product-detail .tab-pane {
  padding: 10px;
  border: 1px solid #ddd;
  border-top: none;
  background: #fafafa; }
.body-wrapper .product-detail .product-preview .gallery .main-img {
  margin-bottom: 5px;
  border: 1px solid #ddd; }
.body-wrapper .product-detail .product-preview .gallery .jcarousel ul li {
  cursor: pointer; }
.body-wrapper .product-detail .product-info .price, .body-wrapper .product-detail .product-info .media-container .inner .price-wrapper .saleoff, .media-container .inner .price-wrapper .body-wrapper .product-detail .product-info .saleoff {
  margin-bottom: 20px; }
  .body-wrapper .product-detail .product-info .price .sale, .body-wrapper .product-detail .product-info .media-container .inner .price-wrapper .saleoff .sale, .media-container .inner .price-wrapper .body-wrapper .product-detail .product-info .saleoff .sale {
    font-size: 5em;
    color: #df3d82;
    margin-right: 10px; }
  .body-wrapper .product-detail .product-info .price .sale-off, .body-wrapper .product-detail .product-info .media-container .inner .price-wrapper .saleoff .sale-off, .media-container .inner .price-wrapper .body-wrapper .product-detail .product-info .saleoff .sale-off {
    font-size: 2em;
    color: #777;
    text-decoration: line-through;
    margin-right: 10px; }
  @media (max-width: 992px) {
    .body-wrapper .product-detail .product-info .price .sale, .body-wrapper .product-detail .product-info .media-container .inner .price-wrapper .saleoff .sale, .media-container .inner .price-wrapper .body-wrapper .product-detail .product-info .saleoff .sale {
      font-size: 3em; }
    .body-wrapper .product-detail .product-info .price .sale-off, .body-wrapper .product-detail .product-info .media-container .inner .price-wrapper .saleoff .sale-off, .media-container .inner .price-wrapper .body-wrapper .product-detail .product-info .saleoff .sale-off {
      font-size: 1.5em; } }
.body-wrapper .recommended-products .item {
  border: 1px solid transparent; }
.body-wrapper .recommended-products .product-name {
  text-align: center;
  display: block; }
  .body-wrapper .recommended-products .product-name a {
    color: #555;
    font-weight: bold;
    line-height: 40px; }
    .body-wrapper .recommended-products .product-name a:hover {
      color: #df3d82; }
.body-wrapper .cart table th {
  color: #777; }
.body-wrapper .cart table tr {
  color: #555; }
.body-wrapper .cart table td.remove i.fa {
  color: #df3d82; }
.body-wrapper .blog .an-article {
  margin-bottom: 25px; }
  .body-wrapper .blog .an-article h2 {
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 20px; }
    .body-wrapper .blog .an-article h2 a {
      color: #444; }
      .body-wrapper .blog .an-article h2 a:hover {
        color: #df3d82; }
  .body-wrapper .blog .an-article .media-container {
    overflow: hidden; }
    @media (min-width: 768px) {
      .body-wrapper .blog .an-article .media-container {
        height: 260px; } }
  .body-wrapper .blog .an-article .article-info {
    background-color: #df3d82;
    color: #fff;
    height: 100%;
    padding: 15px;
    height: 260px;
    position: relative; }
    @media (min-width: 992px) {
      .body-wrapper .blog .an-article .article-info {
        margin-left: -30px; } }
    .body-wrapper .blog .an-article .article-info .caret {
      border: none;
      display: block;
      width: 22px;
      height: 18px;
      background: url(../images/@an-article-caret.png) 0 0;
      /* Move Y by 18px */
      position: absolute;
      left: -24px;
      top: 20px; }
      @media (max-width: 992px) {
        .body-wrapper .blog .an-article .article-info .caret {
          display: none; } }
    .body-wrapper .blog .an-article .article-info p {
      text-align: justify;
      line-height: 1.7; }
    .body-wrapper .blog .an-article .article-info .stat {
      margin-right: 30px;
      line-height: 30px; }
      .body-wrapper .blog .an-article .article-info .stat a {
        color: #fff; }
      .body-wrapper .blog .an-article .article-info .stat a:hover {
        color: #c3c3c3 !important; }
.body-wrapper .blog-detail h2 {
  font-size: 1.2em;
  margin-top: 0; }
  .body-wrapper .blog-detail h2 a {
    color: #444; }
    .body-wrapper .blog-detail h2 a:hover {
      color: #df3d82; }
.body-wrapper .blog-detail .stat {
  margin-right: 30px;
  line-height: 20px;
  color: #555; }
  .body-wrapper .blog-detail .stat a {
    color: #555; }
  .body-wrapper .blog-detail .stat a:hover {
    color: #df3d82 !important; }
.body-wrapper .blog-detail .article-content {
  margin: 20px 0; }
.body-wrapper .contact #map {
  height: 500px; }

/* H T - B T N */
.custom-btn {
  border-radius: 4px;
  padding: 10px 20px;
  text-align: center;
  color: #999;
  background-color: #fafafa;
  border: 1px solid #c3c3c3;
  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms; }

.custom-btn:hover {
  border-color: #df3d82 !important;
  background-color: #df3d82 !important;
  color: #fff !important; }

/* btn-float */
.custom-btn.btn-float {
  border-color: #bd4a7b;
  background-color: #bd4a7b;
  color: #fff;
  box-shadow: 2px 2px 1px #df3d82; }

.custom-btn.btn-float:hover {
  color: #fff !important;
  background-color: #bd4a7b;
  border-color: #bd4a7b; }

/* btn-load-more */
.custom-btn.load-more {
  background-color: #df3d82;
  border: none;
  color: #fff !important;
  margin-top: 20px; }
  .custom-btn.load-more:hover {
    background-color: #bd4a7b !important; }

ul.custom-ulist {
  list-style-image: url(../images/shirt-icon.png);
  padding-left: 30px; }
  ul.custom-ulist li {
    line-height: 30px; }
    ul.custom-ulist li a {
      color: #777;
      transition: 130ms;
      -webkit-transition: 130ms;
      -moz-transition: 130ms;
      -o-transition: 130ms; }
      ul.custom-ulist li a:hover {
        margin-left: 5px; }

/* MEDIA CONTAINER */
.media-container {
  transition: none;
  -webkit-transform: translateZ(0) scale(1, 1); }
  .media-container .inner {
    position: relative; }
    .media-container .inner .hover-overlay {
      transition: 300ms;
      -webkit-transition: 300ms;
      -moz-transition: 300ms;
      -o-transition: 300ms;
      display: block;
      border: none !important;
      margin: 0 !important;
      padding: 0 !important;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: #000;
      text-align: center; }
    .media-container .inner .hover-overlay.color {
      background-color: #df3d82; }
    .media-container .inner .caption-heading {
      font-size: 1.2em;
      color: #fff;
      text-transform: uppercase;
      position: absolute;
      bottom: 0;
      width: 100%;
      display: block !important;
      padding: 20px;
      background-color: #df3d82;
      margin: 0;
      opacity: 0.7;
      transition: 300ms;
      -webkit-transition: 300ms;
      -moz-transition: 300ms;
      -o-transition: 300ms; }
    .media-container .inner .caption-overlay {
      transition: 300ms;
      -webkit-transition: 300ms;
      -moz-transition: 300ms;
      -o-transition: 300ms;
      display: block;
      border: none !important;
      margin: 0 !important;
      position: absolute;
      width: 100%;
      padding: 20px;
      bottom: -200%;
      background-color: #df3d82;
      opacity: 0.7; }
      .media-container .inner .caption-overlay .heading {
        font-size: 1.2em;
        color: #fff;
        text-transform: uppercase; }
      .media-container .inner .caption-overlay .role {
        color: #dadada; }
      .media-container .inner .caption-overlay .bio {
        color: #fff;
        line-height: 1.7; }
    .media-container .inner .icon {
      position: absolute;
      font-size: 3em;
      opacity: 0;
      color: #fff;
      top: 50%;
      left: 50%;
      margin-left: -32px;
      margin-top: -32px;
      transition: none;
      display: block; }
    .media-container .inner .price-wrapper {
      position: absolute;
      border: none !important;
      top: 50%;
      left: 50%;
      text-align: center; }
      .media-container .inner .price-wrapper p {
        margin: 5px 0; }
      .media-container .inner .price-wrapper .price, .media-container .inner .price-wrapper .saleoff {
        font-size: 3em;
        opacity: 0;
        color: #fff;
        line-height: 30px;
        cursor: default; }
        @media (max-width: 768px) {
          .media-container .inner .price-wrapper .price, .media-container .inner .price-wrapper .saleoff {
            font-size: 4em; } }
      .media-container .inner .price-wrapper .saleoff {
        font-size: 1.5em;
        color: #c3c3c3;
        line-height: 30px;
        text-decoration: line-through; }
        @media (max-width: 768px) {
          .media-container .inner .price-wrapper .saleoff {
            font-size: 2em; } }
    .media-container .inner .price-wrapper.large .price, .media-container .inner .price-wrapper.large .saleoff {
      font-size: 4em; }
    .media-container .inner .price-wrapper.large .saleoff {
      font-size: 2em; }
    .media-container .inner .price-wrapper.small .price, .media-container .inner .price-wrapper.small .saleoff {
      font-size: 2em; }
    .media-container .inner .price-wrapper.small .saleoff {
      font-size: 1em; }
  .media-container:hover .hover-overlay {
    opacity: 0.6; }
  .media-container:hover .icon, .media-container:hover .price, .media-container:hover .inner .price-wrapper .saleoff {
    opacity: 1 !important; }
  .media-container:hover .caption-heading {
    bottom: -100%; }
  .media-container:hover .caption-overlay {
    bottom: 0; }

/* JCarousel */
.jcarousel-wrapper {
  margin-bottom: 10px;
  /* position for carousel button */
  position: relative;
  /* disable style list for carousel */
  /* JCarousel */
  /* carousel control */ }
  .jcarousel-wrapper ul {
    padding: 0;
    margin: 0; }
    .jcarousel-wrapper ul li {
      list-style: none;
      display: block; }
  .jcarousel-wrapper .jcarousel {
    position: relative;
    margin: 0;
    overflow: hidden;
    width: 100%; }
    .jcarousel-wrapper .jcarousel ul {
      width: 20000em;
      position: relative;
      list-style: none;
      margin: 0;
      padding: 0; }
      .jcarousel-wrapper .jcarousel ul li {
        float: left; }
  .jcarousel-wrapper .jcarousel-control-next, .jcarousel-wrapper .jcarousel-control-prev {
    margin-top: -57px;
    font-size: 5em;
    position: absolute;
    top: 50% !important;
    z-index: 99;
    padding-bottom: 15px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2); }
  .jcarousel-wrapper .jcarousel-control-prev {
    left: 0px;
    border-radius: 0 10px 10px 0; }
  .jcarousel-wrapper .jcarousel-control-next {
    right: 0px;
    border-radius: 10px 0 0 10px; }

header {
  position: relative;
  background: url(../images/banner01.jpg) center center;
  background-size: cover; }
  @media (min-width: 768px) {
    header {
      margin-bottom: 20px; } }
  header .inner {
    background-color: rgba(0, 0, 0, 0.2);
    padding-top: 50px; }
  header #roof {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 49px;
    background: url(../images/roof.png) center bottom;
    z-index: 2; }
  header .container {
    height: 160px;
    overflow: hidden; }
    header .container .user-action, header .container .hotline, header .container a {
      color: #fff;
      text-shadow: 1px 1px 5px #555; }
    header .container a:hover {
      text-decoration: underline !important; }
    header .container .header-slogan {
      text-align: center;
      color: #fff;
      text-shadow: 0 2px 5px #777;
      padding: 20px 0; }
      @media (min-width: 992px) {
        header .container .header-slogan {
          padding-left: 80px; } }
      header .container .header-slogan .line-large {
        font-family: 'AlegreyaSans', arial, sans-serif, helvetica;
        font-size: 3em; }
      header .container .header-slogan .line-small {
        font-size: 1.2em;
        font-weight: bold; }
      @media (max-width: 991px) and (min-width: 768px) {
        header .container .header-slogan {
          padding-left: 0; }
          header .container .header-slogan .line-large {
            font-size: 2em; }
          header .container .header-slogan .line-small {
            font-size: 1.2em; } }
    header .container .header-panel {
      text-align: right !important;
      padding: 0; }
      header .container .header-panel .user-action {
        display: block;
        margin-bottom: 10px; }
      header .container .header-panel .hotline {
        line-height: 20px;
        font-weight: bold; }
    @media (max-width: 767px) {
      header .container {
        height: 480px; }
        header .container #logo {
          margin: 10px auto 20px auto !important; }
        header .container .user-action, header .container .hotline {
          text-align: center !important; } }

.navbar-custom {
  background: #df3d82;
  /* Old browsers */
  background: -moz-linear-gradient(top, #df3d82 0%, #dd528c 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #df3d82), color-stop(100%, #dd528c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #df3d82 0%, #dd528c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #df3d82 0%, #dd528c 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #df3d82 0%, #dd528c 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #df3d82 0%, #dd528c 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#df3d82', endColorstr='#dd528c',GradientType=0 );
  /* IE6-9 */
  border-color: #bd4a7b; }
  .navbar-custom a {
    color: #fff !important; }
  .navbar-custom a:hover {
    background-color: #bd4a7b !important; }
  .navbar-custom .navbar-header button {
    border-color: #fff; }
    .navbar-custom .navbar-header button .icon-bar {
      background-color: white; }
    .navbar-custom .navbar-header button:hover, .navbar-custom .navbar-header button:focus {
      background-color: #bd4a7b !important; }
  .navbar-custom li.active a, .navbar-custom li.open a {
    background-color: #bd4a7b !important; }
  .navbar-custom ul.dropdown-menu {
    background: #df3d82;
    /* Old browsers */
    background: -moz-linear-gradient(top, #df3d82 0%, #dd528c 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #df3d82), color-stop(100%, #dd528c));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #df3d82 0%, #dd528c 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #df3d82 0%, #dd528c 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #df3d82 0%, #dd528c 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #df3d82 0%, #dd528c 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#df3d82', endColorstr='#dd528c',GradientType=0 );
    /* IE6-9 */ }
    .navbar-custom ul.dropdown-menu li a {
      background-color: inherit !important; }
      .navbar-custom ul.dropdown-menu li a:hover {
        background-color: #bd4a7b !important; }

/* SIDEBAR */
#sidebar .sidebox {
  border-radius: 4px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  background: #f5f5f5;
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.175);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.175); }
  #sidebar .sidebox .sidebar-heading {
    position: relative;
    height: 48px;
    margin-bottom: 10px; }
    #sidebar .sidebox .sidebar-heading h1 {
      margin: 0;
      font-size: 1.2em;
      position: absolute;
      min-width: 191px;
      padding: 10px 20px;
      background: #df3d82;
      color: #fff;
      top: 5px;
      left: -15px;
      border-radius: 0 4px 4px 0; }
    #sidebar .sidebox .sidebar-heading .tail {
      display: inline-block;
      position: absolute;
      top: 5px;
      height: 46px;
      width: 10px;
      left: -25px;
      background: url(../images/@sidebar-heading-left.png) no-repeat; }
  #sidebar .sidebox.search form {
    padding-top: 10px !important;
    padding-bottom: 20px !important; }
    #sidebar .sidebox.search form .form-group {
      margin: 0 !important;
      background-color: #fff; }
      #sidebar .sidebox.search form .form-group input {
        background-color: #fff;
        border-color: #fff; }
      #sidebar .sidebox.search form .form-group i.fa {
        color: #cecece; }
      #sidebar .sidebox.search form .form-group input {
        border: none;
        box-shadow: none; }
      #sidebar .sidebox.search form .form-group button {
        border: none;
        background-color: transparent; }
  #sidebar .sidebox.statistic p {
    font-weight: bold;
    color: #777; }
    #sidebar .sidebox.statistic p .value {
      text-align: right;
      font-weight: normal;
      color: #df3d82; }
  #sidebar .sidebox.map-wrapper #map {
    height: 200px; }
    @media (min-width: 768px) {
      #sidebar .sidebox.map-wrapper #map {
        margin: -15px;
        margin-top: 10px;
        border-radius: 0 0 4px 4px; } }
  #sidebar .sidebox.brands .inner:before, #sidebar .sidebox.brands .inner:after {
    display: table;
    content: " "; }
  #sidebar .sidebox.brands .inner:after {
    clear: both; }
  #sidebar .sidebox.brands .brand {
    padding: 5px; }
  #sidebar .sidebox.intro {
    color: #777; }

/* FOOTER */
footer {
  background: #df3d82;
  /* Old browsers */
  background: -moz-linear-gradient(top, #df3d82 0%, #dd528c 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #df3d82), color-stop(100%, #dd528c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #df3d82 0%, #dd528c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #df3d82 0%, #dd528c 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #df3d82 0%, #dd528c 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #df3d82 0%, #dd528c 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#df3d82', endColorstr='#dd528c',GradientType=0 );
  /* IE6-9 */ }
  footer a {
    color: #fff !important; }
    footer a:hover {
      color: #FFB3B3 !important; }
  footer .container {
    padding-top: 30px;
    padding-bottom: 10px;
    color: #fff; }
    @media (max-width: 767px) {
      footer .container #logo {
        margin-left: auto;
        margin-right: auto; } }
    footer .container .head {
      font-size: 2em; }
    footer .container ul {
      list-style: none;
      padding: 0; }
      @media (max-width: 767px) {
        footer .container ul {
          padding: 15px 0 0 0; } }
      footer .container ul li a:hover {
        margin-left: 5px; }
    footer .container .tags {
      padding-top: 10px; }
      footer .container .tags .tag {
        position: relative;
        display: inline-block;
        width: 225px;
        height: 85px;
        background: url(../images/footer-tag.png);
        font-family: 'AlegreyaSans', arial, sans-serif, helvetica;
        font-size: 1.4em;
        padding: 10px 10px 0 25px; }
        footer .container .tags .tag p {
          line-height: 0.8; }
        footer .container .tags .tag .icon {
          position: absolute;
          top: 0px;
          right: 55px;
          font-size: 2.4em; }
    footer .container .social-icons {
      overflow: hidden;
      padding-top: 10px; }
      @media (min-width: 768px) {
        footer .container .social-icons {
          float: right; } }
      footer .container .social-icons .social-icon {
        border-radius: 30px;
        background-color: #FFB3B3 !important; }
    @media (min-width: 768px) {
      footer .container .mauris {
        margin-top: 5px;
        float: right; } }
