@mixin section-padding {
	padding-top: 100px;
	padding-bottom: 100px;
}
@mixin margin-tb($value) {
	margin-top: $value;
	margin-bottom: $value;
}
@mixin padding-tb($value) {
	padding-top: $value;
	padding-bottom: $value;
}
@mixin padding-t-b($value1, $value2) {
	padding-top: $value1;
	padding-bottom: $value2;
}
@mixin transition($value) {
	transition: $value;
	-webkit-transition: $value;
	-moz-transition: $value;
	-o-transition: $value;
}
@mixin column-count($value) {
	-webkit-column-count: $value;
	-moz-column-count: $value;
	-o-column-count: $value;
	-ms-column-count: $value;
}
@mixin transform($value) {
	-webkit-transform: $value;
	-moz-transform: $value;
	-o-transform: $value;
	-ms-transform: $value;
}
@mixin opacity($value) {
	opacity: $value;
	-webkit-opacity: $value;
	-moz-opacity: $value;
	-o-opacity: $value;
	-ms-opacity: $value;
}
@mixin border-radius($a, $b, $c, $d) {
	-webkit-border-radius: $a $b $c $d;
	-moz-border-radius: $a $b $c $d;
	border-radius: $a $b $c $d;
}
@mixin global-gradient {
	background: rgb(223,61,130); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(223,61,130,1) 0%, rgba(221,82,140,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(223,61,130,1)), color-stop(100%,rgba(221,82,140,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(223,61,130,1) 0%,rgba(221,82,140,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(223,61,130,1) 0%,rgba(221,82,140,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(223,61,130,1) 0%,rgba(221,82,140,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(223,61,130,1) 0%,rgba(221,82,140,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df3d82', endColorstr='#dd528c',GradientType=0 ); /* IE6-9 */
}
@font-face{
	font-family: 'AlegreyaSans';
	src: url(../fonts/AlegreyaSans-ExtraBold.otf);
}
@font-face{
	font-family: 'Open Sans';
	src: url(../fonts/OpenSans-Regular.ttf);
}
body{
	font-family: 'Open Sans', arial, sans-serif, helvetica;
}
a {
	text-decoration: none !important;
	@include transition(300ms);
}
a:hover {
	// color: $global-color !important;
}
$heading: 0.5em;
h6 { font-size: $heading + 0.2em; }
h5 { font-size: $heading + 0.4em; }
h3 { font-size: $heading + 0.6em; }
h2 { font-size: $heading + 0.8em; }
h1 { font-size: $heading + 1em; }