
/* LOGO */
#logo {
	text-indent: -999%;
	display: block;
	height: 150px;
	width: 150px;
	background: url(../images/150x150.gif);
}

/* LABEL, BADGE */
.label-custom, .badge-custom {
	background-color: $global-color;
}

/* CLEAR BOTH */
.clear-both {
	clear: both;
}

/* CUSTOM LIST STYLE IMAGE */
ul.custom-pagination {

	a {
		color: $global-color;
	}
	li.active a {
		background-color: $global-color;
		border-color: $global-color;
		&:hover {
			background-color: $global-bg-hover !important;
			border-color: $global-bg-hover !important;
		}
	}
}

/* FLOAT RIGHT */
.float-right-sm {
	@media(min-width: 768px) {
		float: right;
	}
}

/* CUSTOM-FORM */
.custom-form {
	input, textarea, select {
		padding: 5px;
		// border-radius: 2px;
		box-shadow: none;
	}
	select {
		margin-bottom: 30px;
	}
	&.pre-validation {
		.form-group {
			position: relative;
			margin-bottom: 30px;
		}
		label.error {
			position: absolute;
			bottom: -30px;
			left: 0;
		}
	}
	label {
		color: #555;
		.form-require {
			color: $global-color;
			font-weight: normal;
		}
	}
	input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

/* BUTTON-GROUP */
.btn-group {
	margin-bottom: 20px;
	.custom-btn {
		margin: 5px 0;
		&:first-child {
			margin-right: 0 !important;
		}
		&:last-child {
			margin-left: 0 !important;
		}
	}
	&.btn-group-right {
		.custom-btn {
			float: right;
		}
	}
	&.btn-group-left {
		.custom-btn {
			float: left;
		}
	}
}

/* COLLAPSE LIST */
ul.custom-collapse-list {
	a {
		cursor: pointer;
	}
	ul.level-2 {
		display: none;
		padding-left: 23px;
	}
}

/* FILTER OVERLAY */
.filter-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	@include opacity(0.4);
	top: 0;
	left: 0;
	z-index: 0;
}

/* PRODUCT GRID */
.body-wrapper {
	@media (min-width: 768px){
		padding: 0;
	}
	.body-section {
		background: #f5f5f5;
		-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.175);
		box-shadow: 0 2px 5px rgba(0,0,0,0.175);
		position: relative;
		border-radius: 4px;
		padding: 50px 15px 30px 15px;
		margin-bottom: 15px;
		border-top: 5px solid $global-bg-hover;
		h1.body-heading {
			background-color: $global-color;
			padding: 5px 20px 10px 20px;
			display: inline-block;
			position: absolute;
			top: -25px;
			color: #fff;
			border-radius: 0 0 4px 4px;
			font-size: 1.2em;
			border-top: 5px solid $global-bg-hover;
			a {
				color: #fff;
			}
		}
		h2 {
			color: #777;
			margin-top: 0;
			margin-bottom: 15px;
			text-transform: uppercase;
		}
		&.blog {
			padding-bottom: 20px;
		}
	}
	.products-grid {
		.item {
			margin-bottom: 15px;
			&:hover{
				.content {
					a {
						color: $global-color;
					}
				}
			}
			.content {
				-webkit-transform: translateZ(0) scale(1.0, 1.0);
				@include margin-tb(10px);
				text-align: center !important;
				height: 45px;
				a {
					color: #777;
					font-size: 1.1em;
				}
				@media(max-width: 767px){
					margin: 0;
					background-color: #bbb;
					padding: 15px 10px;
					height: 70px;
					a {
						color: #fff;
					}
				}
			}
		}
	}
	.product-detail {
		h2 {
			color: #777;
			margin-top: 0;
			margin-bottom: 15px;
			text-transform: none;
		}
		.nav-tabs {
			a {
				color: #777;
			}
			li.active a {
				background-color: #fafafa;
				color: $global-color;
			}
		}
		.tab-pane {
			padding: 10px;
			border: 1px solid #ddd;
			border-top: none;
			background: #fafafa;
		}
		.product-preview {
			.gallery {
				.main-img {
					margin-bottom: 5px;
					border: 1px solid #ddd;
				}
				.jcarousel {
					ul {
						li {
							cursor: pointer;
						}
					}
				}
			}
		}
		.product-info {
			.price {
				margin-bottom: 20px;
				.sale {
					font-size: 5em;
					color: $global-color;
					margin-right: 10px;
				}
				.sale-off {
					font-size: 2em;
					color: #777;
					text-decoration: line-through;
					margin-right: 10px;
				}
				@media(max-width: 992px) {
					.sale {
						font-size: 3em;
					}
					.sale-off {
						font-size: 1.5em;
					}
				}
			}
		}
	}
	.recommended-products {
		.item {
			border: 1px solid transparent;
		}
		.product-name {
			text-align: center;
			display: block;
			a {
				color: #555;
				font-weight: bold;
				line-height: 40px;
				&:hover {
					color: $global-color;
				}
			}
		}
	}
	.cart {
		table {
			th {
				color: #777;
			}
			tr {
				color: #555;
			}
			td.remove {
				i.fa {
					color: $global-color;
				}
			}
		}
	}
	.blog {
		.an-article {
			margin-bottom: 25px;
			h2 {
					font-size: 1.2em;
					margin-top: 0;
					margin-bottom: 20px;
				a {
					color: #444;
					&:hover {
						color: $global-color
					}
				}
			}
			.media-container {
				@media (min-width: 768px) {
					height: 260px;
				}
				overflow: hidden;
			}
			.article-info {
				background-color: $global-color;
				color: #fff;
				height: 100%;
				padding: 15px;
				height: 260px;
				@media (min-width: 992px) {
					margin-left: -30px;
				}
				position: relative;
				.caret {
					border: none;
					display: block;
					width: 22px;
					height: 18px;
					background: url(../images/@an-article-caret.png) 0 0; /* Move Y by 18px */
					position: absolute;
					left: -24px;
					top: 20px;
					@media (max-width: 992px) {
						display: none;
					}
				}
				p {
					text-align: justify;
					line-height: 1.7;
				}
				.stat {
					margin-right: 30px;
					line-height: 30px;
					a {
						color: #fff;
					}
					a:hover {
						color: #c3c3c3 !important;
					}
				}
			}
		}
	}
	.blog-detail {
		h2 {
				font-size: 1.2em;
				margin-top: 0;
				// margin-bottom: 20px;
			a {
				color: #444;
				&:hover {
					color: $global-color
				}
			}
		}
		.stat {
			margin-right: 30px;
			line-height: 20px;
			color: #555;
			a {
				color: #555;;
			}
			a:hover {
				color: $global-color !important;
			}
		}
		.article-content {
			margin: 20px 0;
		}
	}
	.contact {
		#map {
			height: 500px;
		}
	}
}

/* H T - B T N */
.custom-btn {
	border-radius: 4px;
	padding: 10px 20px;
	text-align: center;
	color: #999;
	background-color: #fafafa;
	border: 1px solid #c3c3c3;
	@include transition(300ms);
}
.custom-btn:hover {
	border-color: $global-color !important;
	background-color: $global-color !important;
	color: #fff !important;
}
/* btn-float */
.custom-btn.btn-float {
	border-color: $global-bg-hover;
	background-color: $global-bg-hover;
	color: #fff;
	box-shadow: 2px 2px 1px $global-color;
}
.custom-btn.btn-float:hover {
	color: #fff !important;
	background-color: $global-bg-hover;
	border-color: $global-bg-hover;
}
/* btn-load-more */
.custom-btn.load-more {
	background-color: $global-color;
	border: none;
	color: #fff !important;
	margin-top: 20px;
	&:hover {
		background-color: $global-bg-hover !important;
	}
}

ul.custom-ulist {
	list-style-image: url(../images/shirt-icon.png);
	padding-left: 30px;
	li {
		line-height: 30px;
		a {
			color: #777;
			@include transition(130ms);
			&:hover {
				margin-left: 5px;
			}
		}
	}
}


/* MEDIA CONTAINER */
.media-container {
	transition: none;
	// -webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);
	.inner {
		position: relative;
		.hover-overlay {
			@include transition(300ms);
			display: block;
			border: none !important;
			margin: 0 !important;
			padding: 0 !important;
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: #000;
			text-align: center;

		}
		.hover-overlay.color {
			background-color: $global-color;
		}
		.caption-heading {
			font-size: 1.2em;
			color: #fff;
			text-transform: uppercase;
			position: absolute;
			bottom: 0;
			width: 100%;
			display: block !important;
			padding: 20px;
			background-color: $global-color;
			margin: 0;
			opacity: 0.7;
			@include transition(300ms);
		}
		.caption-overlay {
			@include transition(300ms);
			display: block;
			border: none !important;
			margin: 0 !important;
			position: absolute;
			width: 100%;
			padding: 20px;
			bottom: -200%;
			background-color: $global-color;
			opacity: 0.7;
			.heading {
				font-size: 1.2em;
				color: #fff;
				text-transform: uppercase;
			}
			.role {
				color: #dadada;
			}
			.bio {
				color: #fff;
				line-height: 1.7;
			}
		}
		.icon {
			position: absolute;
			font-size: 3em;
			opacity: 0;
			color: #fff;
			top: 50%;
			left: 50%;
			margin-left: -32px;
			margin-top: -32px;
			transition: none;
			display: block;
		}
		.price-wrapper {
			position: absolute;
			border: none !important;
			top: 50%;
			left: 50%;
			text-align: center;
			p {
				margin: 5px 0;
			}
			.price {
				font-size: 3em;
				opacity: 0;
				color: #fff;
				line-height: 30px;
				cursor: default;
				@media (max-width: 768px) {
					font-size: 4em;
				}
			}
			.saleoff {
				font-size: 1.5em;
				@extend .price;
				color: #c3c3c3;
				line-height: 30px;
				text-decoration: line-through;
				@media (max-width: 768px) {
					font-size: 2em;
				}
			}
		}
		.price-wrapper.large {
			.price {
				font-size: 4em;
			}
			.saleoff {
				font-size: 2em;
			}
		}
		.price-wrapper.small {
			.price {
				font-size: 2em;
			}
			.saleoff {
				font-size: 1em;
			}
		}
	}
	&:hover {
		.hover-overlay {
			opacity: 0.6;
		}
		.icon, .price {
			opacity: 1 !important;
		}
		.caption-heading {
			bottom: -100%;
		}
		.caption-overlay {
			bottom: 0;
		}
	}
}

/* JCarousel */
.jcarousel-wrapper {
	margin-bottom: 10px;
	/* position for carousel button */
	position: relative;
	/* disable style list for carousel */
	ul {
		padding: 0;
		margin: 0;
		li {
			list-style: none;
			display: block;
		}
	}
	/* JCarousel */
	.jcarousel {
		position: relative;
		margin: 0;
		overflow: hidden;
		width: 100%;
		ul {
			width: 20000em;
			position: relative;
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				float: left;
			}
		}
	}

	/* carousel control */
	.jcarousel-control-next, .jcarousel-control-prev {
		margin-top: -57px;
		font-size: 5em;
		// color: #b4b4b4;
		position: absolute;
		top: 50% !important;
		z-index: 99;
		padding-bottom: 15px;
		color: #fff;
		background-color: rgba(0,0,0,0.2);
		&:hover {
		}
	}
	.jcarousel-control-prev {
		left: 0px;
		border-radius: 0 10px 10px 0;
	}
	.jcarousel-control-next {
		right: 0px;
		border-radius: 10px 0 0 10px;
	}
}