// HEADER
header{
	position: relative;
	background: url(../images/banner01.jpg) center center;
	background-size: cover;
	@media(min-width: 768px){
		margin-bottom: 20px;
	}
	.inner {
		background-color: rgba(0,0,0,0.2);
		padding-top: 50px;
	}
	#roof {
		position: absolute;
		top: 0px;
		width: 100%;
		height: 49px;
		background: url(../images/roof.png) center bottom;
		z-index: 2;
	}
	.container {
		height: 160px;
		overflow: hidden;
		.user-action, .hotline, a {
			color: #fff;
			text-shadow: 1px 1px 5px #555;
		}
		a:hover {
			text-decoration: underline !important;
		}
		.header-slogan {
			text-align: center;
			color: #fff;
			text-shadow: 0 2px 5px #777;
			padding: 20px 0;
			@media (min-width: 992px) {
				padding-left: 80px;
			}
			.line-large {
				font-family: 'AlegreyaSans', arial, sans-serif, helvetica;
				font-size: 3em;
			}
			.line-small {
				font-size: 1.2em;
				font-weight: bold;
			}
			@media (max-width: 991px) and (min-width: 768px) {
				padding-left: 0;
				.line-large {
					font-size: 2em;
				}
				.line-small {
					font-size: 1.2em;
				}
			}
		}
		.header-panel {
			text-align: right !important;
			padding: 0;
			.user-action {
				display: block;
				margin-bottom: 10px;
			}
			.hotline {
				line-height: 20px;
				// font-size: 1.2em;
				font-weight: bold;
			}
		}
		@media(max-width: 767px) {
			height: 480px;
			#logo {
				margin: 10px auto 20px auto !important;
			}
			.user-action, .hotline {
				text-align: center !important;
			}
		}
	}
}
// NAVBAR
.navbar-custom {
	@include global-gradient;
	border-color: $global-bg-hover;
	// border: none;
	a {
		color: #fff !important;
	}
	a:hover {
		background-color: $global-bg-hover !important;
	}
	.navbar-header {
		button {
			border-color: #fff;
			.icon-bar {
				background-color: #fff
			}
			&:hover, &:focus {
				background-color: $global-bg-hover !important;
			}
		}
	}
	.navbar-collapse {
	}
	li.active, li.open {
		a {
			background-color: $global-bg-hover !important;
		}
	}
	ul.dropdown-menu {
		@include global-gradient;
		li {
			a {
				background-color: inherit !important;
				&:hover {
					background-color: $global-bg-hover !important;
				}
			}
		}
	}
}

/* SIDEBAR */
#sidebar {
	.sidebox {
		// min-height: 200px;
		border-radius: 4px;
		padding-bottom: 15px;
		margin-bottom: 15px;
		background: #f5f5f5;
		-webkit-transform: translateZ(0) scale(1.0, 1.0);
		-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.175);
		box-shadow: 0 2px 5px rgba(0,0,0,0.175);
		.sidebar-heading {
			position: relative;
			height: 48px;
			margin-bottom: 10px;
			h1 {
				margin: 0;
				font-size: 1.2em;
				position: absolute;
				min-width: 191px;
				padding: 10px 20px;
				background: $global-color;
				color: #fff;
				top: 5px;
				left: -15px;
				border-radius: 0 4px 4px 0;
			}
			.tail {
				display: inline-block;
				position: absolute;
				top: 5px;
				height: 46px;
				width: 10px;	
				left: -25px;
				background: url(../images/@sidebar-heading-left.png) no-repeat;
			}
		}
		&.search {
			form {
				padding-top: 10px !important;
				padding-bottom: 20px !important;
				.form-group {
					margin: 0 !important;
					background-color: #fff;
					input {
						background-color: #fff;
						border-color: #fff;
					}
					i.fa {
						color: #cecece;
					}
					input {
						border: none;
						box-shadow: none;
					}
					button {
						border: none;
						background-color: transparent;
					}
				}
			}
		}
		&.statistic {
			p {
				font-weight: bold;
				color: #777;
				.value {
					text-align: right;
					font-weight: normal;
					color: $global-color;
				}
			}
		}
		&.map-wrapper {
			#map {
				height: 200px;
				@media(min-width: 768px){
					margin: -15px;
					margin-top: 10px;
					border-radius: 0 0 4px 4px;
				}
			}
		}
		&.brands {
			.inner{
				&:before, &:after {
					display: table;
					content: " ";
				}
				&:after{
					clear: both;
				}
			}
			.brand {
				padding: 5px;
			}
		}
		&.intro {
			color: #777;
		}
	}
}

/* FOOTER */
footer {
	a{
		color: #fff !important;
		&:hover {
			color: #FFB3B3 !important;
		}
	}
	@include global-gradient;
	.container {
		@include padding-t-b(30px,10px);
		// border-radius: 4px 4px 0 0;
		color: #fff;
		#logo {
			@media(max-width: 767px){
				margin-left: auto;
				margin-right: auto;
			}
		}
		.head {
			font-size: 2em;
		}
		ul{
			list-style: none;
			padding: 0;
			@media(max-width: 767px){
				padding: 15px 0 0 0;
			}
			li {
				a{
					&:hover {
						margin-left: 5px;
					}
				}
			}
		}
		.sitemap {

		}
		.contact {

		}
		.tags {
			padding-top: 10px;
			.tag {
				position: relative;
				display: inline-block;
				width: 225px;
				height: 85px;
				background: url(../images/footer-tag.png);
				font-family: 'AlegreyaSans', arial, sans-serif, helvetica;
				font-size: 1.4em;
				padding: 10px 10px 0 25px;
				// text-shadow: 0px 2px 3px rgba(0,0,0,0.2);
				&.ship {
				}
				&.call {
				}
				p {
					line-height: 0.8;
				}
				.icon {
					position: absolute;
					top: 0px;
					right: 55px;
					font-size: 2.4em;
				}
			}
		}
		.social-icons {
			overflow: hidden;
			padding-top: 10px;
			// display: block;
			@media(min-width: 768px){
				float: right;
			}
			.social-icon {
				border-radius: 30px;
				background-color: #FFB3B3 !important;
			}
		}
		.mauris {
			@media(min-width: 768px){
				margin-top: 5px;
				float: right;
			}
		}
	}
}